.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid    var(--light-gray-color);
}

.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a{
    color: inherit;
    text-decoration: none;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after{
    /* Passamos o content vazio pois por padrão ele vem com uma seta após links */
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}